define service {
        use                     remote-service
        host_name               {{ rhost }}
        service_description     MYSQL
        check_command           check_mysql_cmdlinecred!root!Password1
        notification_interval   2
}